services:
  ctp-mongo:
    container_name: ${MONGO_CONTAINER_NAME}
    restart: unless-stopped
    image: mongo:8.0
    command: mongod --replSet rs0 --bind_ip_all
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - ctp-network

  ctp-mongo-setup:
    image: mongo:8.0
    container_name: mongo-setup
    restart: "no"
    depends_on:
      - ctp-mongo
    command: >
      bash -c "
      echo 'Waiting for MongoDB...' &&
      sleep 15 &&

      echo '=== Initializing replica set ===' &&
      mongosh --host ${MONGO_CONTAINER_NAME}:${MONGO_PORT} --eval \"
        rs.initiate({
          _id: 'rs0',
          members: [{ _id: 0, host: '${MONGO_CONTAINER_NAME}:${MONGO_PORT}' }]
        });
      \" &&

      echo 'Waiting for replica set...' &&
      sleep 10 &&

      echo '=== Creating user ===' &&
      mongosh --host ${MONGO_CONTAINER_NAME}:${MONGO_PORT} --eval \"
        db.getSiblingDB('admin').createUser({
          user: '${MONGO_USER}',
          pwd: '${MONGO_PASSWORD}',
          roles: [{ role: 'root', db: 'admin' }]
        });
      \" &&

      echo '=== Setup complete! ==='
      "
    networks:
      - ctp-network

  ctp-backend:
    container_name: ${BACKEND_CONTAINER_NAME}
    restart: unless-stopped
    build:
      context: ../../backend
      dockerfile: Dockerfile
    ports:
      - "${BACKEND_PORT}:8080"
    environment:
      - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_CONTAINER_NAME}:${MONGO_PORT}/?authSource=admin&replicaSet=rs0&directConnection=true
      - HTTP_FRAMEWORK=${BACKEND_HTTP_FRAMEWORK}
      - HASHER_COST=${BACKEND_HASHER_COST}
      - SERVER_PORT=${BACKEND_PORT}
      - LOGGER_TYPE=${BACKEND_LOGGER_TYPE}
      - DATABASE_TYPE=${BACKEND_DATABASE_TYPE}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_ACCESS_TOKEN_TTL=${JWT_ACCESS_TOKEN_TTL}
      - JWT_REFRESH_TOKEN_TTL=${JWT_REFRESH_TOKEN_TTL}
      - MONGO_DBNAME=${MONGO_DBNAME}
    depends_on:
      - ctp-mongo
    networks:
      - ctp-network

  ctp-frontend:
    container_name: ctp-frontend
    restart: unless-stopped
    build:
      context: ../../frontend
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT}:3000"
    environment:
      - BACKEND_ADDR=${BACKEND_CONTAINER_NAME}:${BACKEND_PORT}
      - SERVER_PORT=${FRONTEND_PORT}
    depends_on:
      - ctp-backend
    networks:
      - ctp-network

networks:
  ctp-network:
    driver: bridge

volumes:
  mongo-data:
